.bg{
  position: fixed;
  top:0%;
  left:0%;
}

.mini{
  position: absolute;
  top:1.7%;
  left:7.1%;
}

.zebra{
  position: absolute;
  top:8%;
  left:0.5%;
}


.zoom{
  position: absolute;
  top:1.69%;
  left:4.2%;
}



.q1{
  position: absolute;
  top:9%;
  left:17%;
  font-family: odisseia, sans-serif;

font-weight: 400;

font-style: normal;


}

.q2{
  position: absolute;
  width: 88%;
  top:23%;
  left:17%;
  font-family: odisseia, sans-serif;

font-weight: 400;

font-style: normal;


}

.q3{
  position: absolute;
  top:37%;
  left:17%;
  width: 88%;
  font-family: odisseia, sans-serif;

font-weight: 400;

font-style: normal;


}


.q4{
  position: absolute;
  width: 88%;
  top:51%;
  left:17%;
  font-family: odisseia, sans-serif;

font-weight: 400;

font-style: normal;


}

.q5{
  position: absolute;
  width: 88%;
  top:64.5%;
  left:17%;
  font-family: odisseia, sans-serif;

font-weight: 400;

font-style: normal;


}

.q5 a{
  color: black;
}
